<header class="head">
  <div class="top-header">
    <div class="container">
        <div id="top-menu">
            <button class="menubtn" type="button" v-bind:class="{ '_state-open': isActive }" v-on:click="open">
                Menu
            </button>
            <transition name="trans_slide">
                <div id="gnav" class="mnnav" v-if="gnav">
                    <nav>
                    <div class="mnnav__body" v-cloak>
                    aaaaa
                    bbbb
                    </div>
                    </nav>
                </div><!-- mnnav -->
            </transition>
        </div>
        <div id="menu-pc">
            <ul class="nav__lst">
                <li class="mnnav__item"><%= link_to "Home", root_path, class:action_name == 'home' ? 'active' : '' %></li>
                <li class="mnnav__item"><%= link_to "Salons", root_path %></li>
                <li class="mnnav__item"><%= link_to "Services", root_path %></li>
                <li class="mnnav__item"><%= link_to "Blogs", root_path %></li>
            </ul><!-- nav__lst -->
        </div>
    </div><!-- top-header -->
  </div><!-- container -->
  <%= javascript_pack_tag 'menu' %>
</header><!-- head -->